<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
    <meta charset="UTF-8">
    <title>Show List</title>
</head>
<body>
<div class="text text-center">
    <h3>Blog Tuoi Hong</h3>
    <div class="container">
        <!--search by title-->
<!--        <div class="row">-->
            <form action="/blog" class="form-inline my-2 my-lg-0">
                <!--            <lable>Search by Title</lable>-->

                <input class="form-control mr-sm-2" type="search" name="title_search" placeholder="Search by Title">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="background-color:deeppink">
                    <i class="bi bi-search text-white" ></i>
                </button>

                <select name="cate_filter" onchange="this.form.submit()">
                    <option disabled selected>Please chose Category</option>
                    <th:block th:each="category: ${categoryList}">

                        <option th:value="${category.id}" th:text="${category.name}"></option>

                    </th:block>
                </select>

            </form>
<!--        </div>-->

        <!--Filter by Category-->
<!--        <div class="row">-->
<!--        <form action="/blog" class="form-inline my-2 my-lg-0">-->
<!--            -->
<!--        </form>-->
<!--        </div>-->
    </div>
    <div class="container">
        <button class="form-inline my-2 my-lg-0" style="background-color:deeppink">
            <a th:href="@{/blog/create}" class="text text-white">
                + Add new blog
            </a>
        </button>
    </div>

    <div class="notify">
        <!--        <div th:if="#{message}">-->
        <span style="color: cornflowerblue" th:text="${messagesCreate}"></span>
        <span style="color: green" th:text="${messagesEdit}"></span>
        <span style="color: red" th:text="${messagesDelete}"></span>
        <!--        </div>-->
    </div>
</div>

<div class="container">
    <!--list Blog-->
    <div>
        <table id="blogs" class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">ID</th>
                <th scope="col">Title</th>
                <th scope="col">Category</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody class="">
            <tr th:each="item,status : ${blogList}">

                <th scope="row" th:text="${(status.index + 1)}"></th>
                <td th:text="${item.getId()}"></td>
                <td>
                    <a th:href="@{/blog/{id}/view_blog(id=${item.getId()})}" th:text="${item.getTitle()}"></a>
                </td>
                <td th:text="${item.category.name}"></td>
                <td>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn text-primary" data-toggle="modal"
                            th:data-target="'#modal'+${item.getId()}">
                        <i class="bi bi-trash"></i>
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" th:id="'modal'+${item.getId()}" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalLabel1" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel1">Modal title</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body"
                                     th:text="'Are you sure you want to delete blog `'+${item.getTitle()}+ '` ?????'">

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-danger"><a class="text-white"
                                                                                    th:href="@{/blog/{id}/delete(id=${item.getId()})}">Delete</a>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
    <!--phan trang-->
    <div>
        <button style="background-color: deeppink"><a th:href="@{'/blog'(page=${blogList.number -1}, title_search=${title_search}, cate_filter=${cate_filter} )}"
           th:if="${blogList.hasPrevious()}" class="text-white" ><i class="bi bi-arrow-left-square-fill"></i></a></button>
        <span th:text="${blogList.number+1}"></span> / <span th:text="${blogList.totalPages}"></span>
        <button style="background-color: deeppink"> <a th:href="@{'/blog'(page=${blogList.number +1}, title_search=${title_search}, cate_filter=${cate_filter} )}"
                   th:if="${blogList.hasNext()}" class="text-white" ><i class="bi bi-arrow-right-square-fill" ></i></a></button>
    </div>
</div>


<footer th:replace="/layout :: footer"></footer>

<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>


</body>
</html>