<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
    <meta charset="UTF-8">
    <title>Edit And View Detail</title>
</head>
<body>
<h3> Song Detail </h3>
<p>
    <a th:href="@{/song}">
        Back to song list
    </a>
</p>
<div class="container justify-center">


    <form th:action="@{/song/update}" th:object="${songDto}"
          method="POST" novalidate="novalidate">
        <div class="form-group row">
            <label for="item0" class="col-sm-2">ID</label>
            <div class="col-sm-10">
                <p id="item0" th:text="*{id}"> </p>
            </div>
        </div>

        <input type="hidden" th:field="*{id}"/>
        <div class="form-group row">
            <label for="item1" class="col-sm-2 col-form-label">Song Name</label>
            <div class="col-sm-10">
                <input class="form-control" id="item1" type="text" th:field="*{name}"/>
            </div>
            <!--message song name error-->
            <div class="col-sm-10 text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
        </div>

        <div class="form-group row">
            <label for="item2" class="col-sm-2 col-form-label">Singer</label>
            <div class="col-sm-10">
                <input class="form-control" id="item2" type="text" th:field="*{singer}"/>
            </div>
            <!--message singer error-->
            <div class="col-sm-10 text-danger" th:if="${#fields.hasErrors('singer')}" th:errors="*{singer}"></div>

        </div>
        <div class="form-group row">
            <label for="item4" class="col-sm-2 col-form-label">Type</label>
            <div class="col-sm-10">
                <input class="form-control" id="item4" type="text" th:field="*{type}"/>
            </div>
            <!--message song type error-->
            <div class="col-sm-10 text-danger" th:if="${#fields.hasErrors('type')}" th:errors="*{type}"></div>

        </div>

        <div class="form-group row">
            <label for="item3" class="col-sm-2 col-form-label">Link</label>
            <div class="col-sm-10">
                <input class="form-control" id="item3" type="text" th:field="*{link}"/>
            </div>
        </div>

        <input type="submit" value="Update"/>
    </form>
    <footer th:replace="/layout :: footer"></footer>

</div>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>